<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.andyadc.abatis.test.mapper.UserMapper">

    <select id="selectByUserId" parameterType="java.lang.Long" resultType="com.andyadc.abatis.test.entity.User">
        SELECT id, userId, name, age, createTime
        FROM t_user
        WHERE userId = #{userId}
    </select>

</mapper>
